
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 122.9rem;
}.modulos-FaL {
  width: 100%;
  height: 242.9rem;
}
.modulos-FaL .app-content-page-article-S92 {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt {
  box-sizing: border-box;
  padding: 2rem 1.4rem;
  width: 20rem;
  height: 100%;
  background-color: #f9f9f9;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt {
  box-sizing: border-box;
  padding-bottom: 24.5rem;
  width: 100%;
  height: 49.7rem;
  display: flex;
  flex-direction: column;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .image-1-nCC {
  margin: 0rem 0rem 2.4rem 0.2rem;
  width: 10.4rem;
  height: 4.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz {
  width: 16.4rem;
  height: 18.5rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-WLU {
  box-sizing: border-box;
  padding: 0.9rem 8.9rem 0.9rem 1rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-WLU .svg-icon-margin-52C {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-WLU .divnavigationnav-item-text-wrapper-jsS {
  width: 3.5rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-WLU .divnavigationnav-item-text-wrapper-jsS .spannavigationnav-item-text-S1A {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-o8Y {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 0.9rem 5.1rem 0.9rem 1rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-o8Y .svg-icon-margin-Dxx {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-o8Y .divnavigationnav-item-text-wrapper-uzC {
  width: 7.3rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-o8Y .divnavigationnav-item-text-wrapper-uzC .spannavigationnav-item-text-1GY {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-yMn {
  margin-bottom: 1.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-yMn .before-V5E {
  width: 100%;
  height: 0.1rem;
  background-color: rgba(5, 6, 15, 0.0799999982);
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-rpt {
  box-sizing: border-box;
  padding: 0.9rem 6.4rem 0.9rem 1rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: rgba(5, 6, 15, 0.0500000007);
  border-radius: 1rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-rpt .svg-icon-margin-Gtc {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-rpt .divnavigationnav-item-text-wrapper-jXJ {
  width: 6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-rpt .divnavigationnav-item-text-wrapper-jXJ .spannavigationnav-item-text-43n {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #39689d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-6Pn {
  box-sizing: border-box;
  padding: 0.9rem 3.7rem 0.9rem 1rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-6Pn .svg-icon-margin-YWg {
  margin: 0rem 1rem 0.2rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-6Pn .divnavigationnav-item-text-wrapper-ybz {
  width: 8.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .app-sidebar-zLt .divsidebar-rtt .app-navigation-sPz .nav-list-A8C .item-link-6Pn .divnavigationnav-item-text-wrapper-ybz .spannavigationnav-item-text-hH6 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ {
  box-sizing: border-box;
  padding-bottom: 3.2rem;
  width: 102.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.1rem 0 rgba(5, 6, 15, 0.0799999982);
  background-color: #f3f3f3;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg {
  margin-bottom: 3.2rem;
  box-sizing: border-box;
  padding: 1.8rem 3.2rem 1.9rem 3.2rem;
  width: 100%;
  height: 8.1rem;
  border: solid 0.1rem rgba(5, 6, 15, 0.0799999982);
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .heading-1-m5v {
  margin: 0.6rem 47.9rem 0.6rem 0rem;
  width: 10.2rem;
  height: calc(100% - 1.2rem);
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3333333333;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU {
  margin-right: 1.191rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU .input-6R2 {
  margin-right: 8.609rem;
  box-sizing: border-box;
  padding: 1rem 1.8rem 1rem 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(5, 6, 15, 0.0500000007);
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU .input-6R2 .svg-icon-FhE {
  margin-right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU .input-6R2 .auto-group-zj9n-tEQ {
  margin: 0.2rem 0rem 0.15rem 0rem;
  box-sizing: border-box;
  padding: 0.05rem 0.05rem 0rem 0.05rem;
  width: 6rem;
  height: calc(100% - 0.35rem);
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU .input-6R2 .auto-group-zj9n-tEQ .divplaceholder-6rG {
  margin-right: 0.7rem;
  width: 5.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: rgba(5, 6, 15, 0.3199999928);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU .divheader-activity-widgetmain-Vmv {
  margin: 1rem 0;
  height: calc(100% - 2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU .divheader-activity-widgetmain-Vmv .app-pixel-points-icon-PcQ {
  margin-right: 0.6rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .divheadersection-axU .divheader-activity-widgetmain-Vmv .item-317-sGg {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .app-notifications-widget-margin-J76 {
  margin-right: 1.6rem;
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .app-profile-picture-Eur {
  width: 4.4rem;
  height: 100%;
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .app-profile-picture-Eur .divprofile-picture-ktC {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 2.2rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .app-header-vSg .header-zhS .divheadersection-fqW .app-profile-picture-Eur .divprofile-picture-ktC .divorange-Fpx {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.75;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f06a2b;
  border-radius: 2.2rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC {
  margin: 0rem 1.85rem 0rem 2.2rem;
  width: calc(100% - 4.05rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr {
  box-sizing: border-box;
  padding: 0rem 1rem 3.2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt {
  margin-bottom: 3.4rem;
  width: 32.7rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .en-progreso-6m2 {
  margin-bottom: 2rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .auto-group-wtdw-jBi {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .auto-group-wtdw-jBi .app-svg-image-3iC {
  margin-right: 19.3rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .auto-group-wtdw-jBi .app-progress-pie-chart-LSQ {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ {
  margin-right: 3.1rem;
  width: 24.8rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .auto-group-ujqv-rJG {
  box-sizing: border-box;
  padding-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .auto-group-ujqv-rJG .divcontent-cardsubtitle-2c4 {
  margin: 0rem 17.639rem 0.4rem 0rem;
  width: calc(100% - 17.639rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .auto-group-ujqv-rJG .divcontent-cardsubtitle-2c4 .mdulo-1-3n4 {
  margin-right: 0.261rem;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: rgba(5, 6, 15, 0.4799999893);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .auto-group-ujqv-rJG .divcontent-cardsubtitle-2c4 .app-pro-tag-margin-gKE {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .auto-group-ujqv-rJG .heading-3-DiU {
  width: 16rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .divcontent-carddescription-qzk {
  margin-bottom: 0.8rem;
  width: 24.3rem;
  height: 6.6rem;
  overflow: hidden;
  position: relative;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .divcontent-carddescription-qzk .dominio-tcnico-para-tejidos-de-calidad-esencial-para-productividad-eficiente-Hrk {
  max-width: 24.3rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .divcontent-cardmetadata-ihA {
  margin-right: 12.353rem;
  width: calc(100% - 12.353rem);
  height: 1.8rem;
  display: flex;
  align-items: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .divcontent-cardmetadata-ihA .divmetadataitem-tk4 {
  margin-right: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .divcontent-cardmetadata-ihA .divmetadataitem-tk4 .spanmetadataitem-text-ZLQ {
  margin-right: 0.547rem;
  width: 6.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .divcontent-cardmetadata-ihA .divmetadataitem-tk4 .after-Ab6 {
  width: 0.3rem;
  height: 0.3rem;
  background-color: rgba(5, 6, 15, 0.6000000238);
  border-radius: 0.15rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .app-page-items-zxt .app-course-preview-section-zbW .divcontent-cardinfo-nZJ .divcontent-cardmetadata-ihA .horas-HJL {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc {
  margin-right: 32.501rem;
  width: calc(100% - 32.501rem);
  height: 3.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .app-action-group-pSg {
  margin-right: 0.8rem;
  width: 39.034rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .app-action-group-pSg .divaction-groupwrapper-J6x {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .app-action-group-pSg .divaction-groupwrapper-J6x .divaction-groupitems-q6t {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 0.2rem;
  align-items: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .app-action-group-pSg .divaction-groupwrapper-J6x .divaction-groupitems-q6t .divaction-groupitem-1Qg {
  width: 8.145rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(5, 6, 15, 0.0500000007);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .app-action-group-pSg .divaction-groupwrapper-J6x .divaction-groupitems-q6t .divaction-groupitem-m2U {
  width: 10.48rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .app-action-group-pSg .divaction-groupwrapper-J6x .divaction-groupitems-q6t .divaction-groupitem-B6C {
  width: 9.878rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .app-action-group-pSg .divaction-groupwrapper-J6x .divaction-groupitems-q6t .divaction-groupitem-7e4 {
  width: 9.931rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .divpagesection-info-actions-vLc {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .divpagesection-info-actions-vLc .button-eXW {
  margin-right: 0.769rem;
  box-sizing: border-box;
  padding: 0.7rem 1.3rem 0.7rem 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(5, 6, 15, 0.0799999982);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .divpagesection-info-actions-vLc .button-eXW .spanbtntext-XbJ {
  margin-right: 0.733rem;
  width: 9.9rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .divpagesection-info-actions-vLc .button-eXW .svg-icon-margin-ohE {
  margin-bottom: 0.2rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .divpagesection-info-actions-vLc .button-PvL {
  box-sizing: border-box;
  padding: 0.7rem 1.24rem 0.7rem 1.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem rgba(5, 6, 15, 0.0799999982);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .divpagesection-info-actions-vLc .button-PvL .svg-icon-margin-VTa {
  margin: 0rem 0.373rem 0.2rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .auto-group-ntzt-Kbr .divpagesection-info-title-wrapper-LGc .divpagesection-info-actions-vLc .button-PvL .spanbtntext-NXN {
  width: 3.6rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5714285714;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN {
  width: 100%;
  height: 25.2rem;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk {
  box-sizing: border-box;
  padding: 2.4rem 2.366rem 2.4rem 2.4rem;
  width: 32.5rem;
  height: 25.2rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .auto-group-d8u4-U8U {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .auto-group-d8u4-U8U .app-svg-image-XcY {
  margin-right: 14.034rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .auto-group-d8u4-U8U .spanbadge-DVN {
  width: 7.3rem;
  height: 2.4rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(5, 6, 15, 0.0500000007);
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx {
  margin-right: 0.034rem;
  width: calc(100% - 0.034rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .auto-group-unow-K4Y {
  box-sizing: border-box;
  padding-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .auto-group-unow-K4Y .divcontent-cardsubtitle-pmz {
  margin: 0rem 20.439rem 0.4rem 0rem;
  width: calc(100% - 20.439rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .auto-group-unow-K4Y .divcontent-cardsubtitle-pmz .mdulo-2-4gL {
  margin-right: 0.261rem;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: rgba(5, 6, 15, 0.4799999893);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .auto-group-unow-K4Y .divcontent-cardsubtitle-pmz .app-pro-tag-margin-ugx {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .auto-group-unow-K4Y .heading-3-s1W {
  width: 5.1rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .divcontent-carddescription-VYg {
  margin-bottom: 0.8rem;
  width: 27.5rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .divcontent-carddescription-VYg .dominio-de-nudos-esenciales-para-tejidos-precisos-y-duraderos-Mat {
  max-width: 27.5rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .divcontent-cardmetadata-19e {
  margin-right: 15.253rem;
  width: calc(100% - 15.253rem);
  height: 1.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .divcontent-cardmetadata-19e .divmetadataitem-ac4 {
  margin-right: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .divcontent-cardmetadata-19e .divmetadataitem-ac4 .spanmetadataitem-text-tse {
  margin-right: 0.547rem;
  width: 6.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .divcontent-cardmetadata-19e .divmetadataitem-ac4 .after-UL4 {
  width: 0.3rem;
  height: 0.3rem;
  background-color: rgba(5, 6, 15, 0.6000000238);
  border-radius: 0.15rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-BWk .divcontent-cardinfo-Yvx .divcontent-cardmetadata-19e .horas-jFz {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 32.1rem;
  height: 25.2rem;
  position: absolute;
  left: 32.3rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 2rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .app-svg-image-Lf6 {
  margin-bottom: 2rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY {
  width: 23.1rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .auto-group-duzr-v7W {
  box-sizing: border-box;
  padding-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .auto-group-duzr-v7W .divcontent-cardsubtitle-dXi {
  margin: 0rem 15.539rem 0.4rem 0rem;
  width: calc(100% - 15.539rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .auto-group-duzr-v7W .divcontent-cardsubtitle-dXi .mdulo-3-nJ8 {
  margin-right: 0.261rem;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: rgba(5, 6, 15, 0.4799999893);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .auto-group-duzr-v7W .divcontent-cardsubtitle-dXi .app-pro-tag-margin-Ygc {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .auto-group-duzr-v7W .heading-3-RkQ {
  width: 12.9rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .divcontent-carddescription-6EG {
  margin-bottom: 0.8rem;
  width: 100%;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .divcontent-carddescription-6EG .destreza-experta-en-operar-telares-para-tejidos-precisos-y-eficientes-YMA {
  max-width: 23.1rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .divcontent-cardmetadata-bKS {
  margin-right: 10.653rem;
  width: calc(100% - 10.653rem);
  height: 1.8rem;
  display: flex;
  align-items: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .divcontent-cardmetadata-bKS .divmetadataitem-hWt {
  margin-right: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .divcontent-cardmetadata-bKS .divmetadataitem-hWt .spanmetadataitem-text-oK2 {
  margin-right: 0.547rem;
  width: 6.7rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .divcontent-cardmetadata-bKS .divmetadataitem-hWt .after-ngk {
  width: 0.3rem;
  height: 0.3rem;
  background-color: rgba(5, 6, 15, 0.6000000238);
  border-radius: 0.15rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-smW .divcontent-cardinfo-zzY .divcontent-cardmetadata-bKS .horas-5fr {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r {
  box-sizing: border-box;
  padding: 2.4rem;
  width: 36.8rem;
  height: 25.2rem;
  position: absolute;
  left: 62.05rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 2rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .app-svg-image-rCk {
  margin-bottom: 2rem;
  width: 6.4rem;
  height: 6.4rem;
  object-fit: contain;
  vertical-align: top;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU {
  width: 27.1rem;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .auto-group-tyf2-1jr {
  box-sizing: border-box;
  padding-bottom: 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .auto-group-tyf2-1jr .divcontent-cardsubtitle-7Xz {
  margin: 0rem 19.739rem 0.4rem 0rem;
  width: calc(100% - 19.739rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .auto-group-tyf2-1jr .divcontent-cardsubtitle-7Xz .mdulo-4-V2k {
  margin-right: 0.361rem;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: rgba(5, 6, 15, 0.4799999893);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .auto-group-tyf2-1jr .divcontent-cardsubtitle-7Xz .app-pro-tag-margin-gd2 {
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .auto-group-tyf2-1jr .heading-3-P1e {
  width: 14.8rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #05060f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .divcontent-carddescription-f7a {
  margin-bottom: 0.8rem;
  width: 26.9rem;
  height: 4.4rem;
  overflow: hidden;
  position: relative;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .divcontent-carddescription-f7a .capacitacin-en-reconocimiento-y-correccin-de-imperfecciones-en-tejidos-MWC {
  max-width: 26.9rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .divcontent-cardmetadata-1Kr {
  margin-right: 15.228rem;
  width: calc(100% - 15.228rem);
  height: 1.8rem;
  display: flex;
  align-items: center;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .divcontent-cardmetadata-1Kr .divmetadataitem-TxY {
  margin-right: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .divcontent-cardmetadata-1Kr .divmetadataitem-TxY .spanmetadataitem-text-aXN {
  margin-right: 0.572rem;
  width: 6.1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .divcontent-cardmetadata-1Kr .divmetadataitem-TxY .after-Shz {
  width: 0.3rem;
  height: 0.3rem;
  background-color: rgba(5, 6, 15, 0.6000000238);
  border-radius: 0.15rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-wu5w-HRN .app-course-preview-section-Q5r .divcontent-cardinfo-YLU .divcontent-cardmetadata-1Kr .horas-96c {
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(5, 6, 15, 0.6000000238);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-py5n-MyN {
  box-sizing: border-box;
  padding: 1.6rem 1rem 0rem 1rem;
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-py5n-MyN .auto-group-cxpx-hA4 {
  width: 94.7rem;
  height: 25.2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-py5n-MyN .auto-group-3ibv-PHn {
  width: 94.7rem;
  height: 25.2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-py5n-MyN .auto-group-vkoz-Vbi {
  width: 94.7rem;
  height: 25.2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-py5n-MyN .auto-group-eahj-9wA {
  width: 94.7rem;
  height: 25.2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-py5n-MyN .auto-group-lepe-UTe {
  width: 94.7rem;
  height: 25.2rem;
  flex-shrink: 0;
}
.modulos-FaL .app-content-page-article-S92 .divcontentbody-onC .divcontentcontainer-sUQ .divcourses-pagecontent-6UC .divpageitems-bYY .auto-group-py5n-MyN .auto-group-jvpl-Pac {
  width: 94.7rem;
  height: 25.2rem;
  flex-shrink: 0;
}
